*

!C
!C/**

!cmake
!cmake/**

!CSharp
!CSharp/**
CSharp/bin
CSharp/obj

!csharp_example
!csharp_example/**
csharp_example/bin
csharp_example/obj

!doc
!doc/**

!example
!example/**

!data
!data/**

!model
!model/**

!include
!include/**

!python
!python/**

!scripts
!scripts/**

!src
!src/**

!tests
!tests/**


!tutorial
!tutorial/**

!.gitignore
!.gitmodules
!.drone.yml
!.clang-format
!CMakeLists.txt
!Config.cmake.in
!README.md
!History.md
